* { margin: 0px; padding: 0px;}

#container {
    width: 80%;
    max-width: 960px;
    min-width: 500px;
    margin: 0 auto;
    background-color: #eeeeee;
}
#ku {
	position: absolute;
	margin-top: 3%;
	margin-left: -3%;
}
header {
    border: solid 1px red;
}
header img {
    width: 100%;
    display: block;
}
nav {
    background-color: #bfefff;
    text-align: center;
}
nav ol li {
    display: inline-block;
    padding: 1%;
}
main {
    width: 60%;
}
aside {
    background-color: #dbdbea;
    width: 40%;
}
main, aside {
    float: left;
}
footer {
    background-color: #bfffdf;
    clear: both;
    overflow: auto;
}
#ft {
    float: left;
    padding-left: 10px;
}
footer img {
    display: inline-block;
	float: right;
	width: 9%;
	padding: .5%;
}